<header id="ts-hero" class="ts-full-screen ts-separate-bg-element">
    
    <!--NAVIGATION ******************************************************************************************-->
    {% include("base/menu.html.twig") %}
    <!--end navbar-->

    <!--HERO CONTENT ****************************************************************************************-->
    <div class="container align-self-center align-items-center">
        <div class="row">
            <div class="col-md-6">
                <h1 data-animate="ts-fadeInUp">Ensemble vers<br>votre objectif</h1>
                <div data-animate="ts-fadeInUp" data-delay=".1s">
                    <p class="w-75 mb-5 ts-opacity__50">Help recruiting vous accompagne pour mener à bien votre projet</p>
                </div>
                <a href="#how-can-i-help-you" class="btn btn-primary btn-lg ts-scroll mr-4" data-animate="ts-fadeInUp" data-delay=".2s">
                    En savoir plus
                    <i class="fa fa-arrow-right small ml-3 ts-opacity__50"></i>
                </a>
                <a href="#form-contact" class="btn-link text-dark d-inline-block" data-animate="ts-fadeInUp" data-delay=".1s">
                    <strong>Rencontrez-moi</strong>
                </a>
            </div>
            <!--end col-md-7-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!--END HERO CONTENT ************************************************************************************-->

    <!--HERO BACKGROUND *************************************************************************************-->
    <div class="ts-background" data-bg-color="#faf9f6" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="ts-background-image ts-parallax-element ts-z-index__1" data-bg-image="assets/img/bg-butterfly-book.png" data-animate="ts-fadeInUp"></div>
        <div class="ts-background-image ts-parallax-element position-absolute ts-top__0 ts-left__0 ts-z-index__0" data-bg-image="assets/img/bg-shape-top-left.png" data-animate="ts-fadeInLeft" data-delay=".1s"></div>
        <div class="ts-background-image ts-parallax-element position-absolute ts-top__0 ts-left__0 ts-z-index__-1" data-bg-image="assets/img/bg-shape-bottom-right.png" data-animate="ts-fadeInRight" data-delay=".2s"></div>
    </div>
    <!--END HERO BACKGROUND *********************************************************************************-->

</header>