#menu .logo_container {
    display: flex;
    text-transform: capitalize;
}
#menu .logo_container img {
    width: 100px;
}
#menu .logo_container h1 {
    font-size: 2em;
    align-self: center;
    margin-bottom: 0;
}

.navbar{
    padding-top: 0;
}