<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Help recruiting{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
            <link rel="stylesheet" href="assets/font-awesome/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/style.css">
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="assets/js/custom.hero.js"></script>
            <script src="assets/js/jquery-3.3.1.min.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
            <script src="assets/js/isInViewport.jquery.js"></script>
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/scrolla.jquery.min.js"></script>
            <script src="assets/js/jquery.validate.min.js"></script>
            <script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
            <script src="assets/js/custom.js"></script>
        {% endblock %}
    </body>
</html>
